{{ form_start(form) }}
{{ form_errors(form) }}
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.origin) }}</div>
	</div>
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.destination) }}</div>
	</div>
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.departureDateTime) }}</div>
	</div>
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.name) }}</div>
	</div>
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.email) }}</div>
	</div>
	<div class="col-span-6 sm:col-span-3">
		<div class="col col-md-4">{{ form_row(form.phoneNumber) }}</div>
	</div>
	<div class="py-3 text-right">
		{{ form_row((form.validate)) }}
	</div>
	{{ form_rest(form) }}
{{ form_end(form) }}