{% extends 'base.html.twig' %}

{% block title %}
	Module de réservation pour VTC
{% endblock %}

{% block body %}
	<div class="ml-0 sm:ml-8 mt-8">
		<div class="md:grid md:grid-cols-3 md:gap-6">
			<div class="md:col-span-1">
				<div class="px-4 sm:px-0">
					<h3 class="text-lg font-medium leading-6 text-gray-900">Demande de devis</h3>
					<p class="mt-1 text-sm text-gray-600">
						Cet outil calculera directement le prix final du trajet souhaité, en fonction du trafic estimé grâce à la date et l'heure de départ.
					</p>
					<div class="max-w-7xl mt-8 lg">
						<div class="bg-white shadow overflow-hidden sm:rounded-lg">
							<div class="px-4 py-5 sm:px-6">
								<h3 class="text-lg leading-6 font-medium text-gray-900">
									Informations de tarification
								</h3>
							</div>
							<div class="border-t border-gray-200">
								<dl>
									<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
										<dt class="text-sm font-medium text-gray-500">
											Tarif minimum par trajet
										</dt>
										<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
											{{ minimum_order_price }} €
										</dd>
									</div>
									<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
										<dt class="text-sm font-medium text-gray-500">
											Coût de prise en charge
										</dt>
										<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
											{{ price_of_care }} €
										</dd>
									</div>
									<div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
										<dt class="text-sm font-medium text-gray-500">
											Tarif par kilomètre
										</dt>
										<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
											{{ price_per_km | format_number({fraction_digit: 2}, locale="fr") }} €
										</dd>
									</div>
									<div class="bg-white px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
										<dt class="text-sm font-medium text-gray-500">
											Tarif par minute
										</dt>
										<dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
											{{ price_per_minute | format_number({fraction_digit: 2}, locale="fr") }} €
										</dd>
									</div>
								</dl>
							</div>
						</div>
						<div id="paypal-button-container" class="mt-6"></div>
					</div>
				</div>
			</div>
			<div class="mt-5 md:mt-0 md:col-span-2 mr-0 sm:mr-6">
					<div class="shadow overflow-hidden sm:rounded-md">
						<div class="px-4 py-5 bg-white sm:p-6">
							<h3 class="text-lg font-medium mb-5 text-gray-900">Formulaire à remplir</h3>
							<div class="grid grid-cols-1 lg:grid-cols-3">
								{% form_theme form 'tailwind_2_layout.html.twig' %}
								{{ form_start(form) }}
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.origin, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.destination, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.departureDateTime, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.name, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.email, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								<div class="col-span-6 sm:col-span-3">
									<div class="col col-md-4">{{ form_row(form.phoneNumber, {
											label_class: "block text-sm font-medium text-gray-700",
											widget_class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
										}) }}</div>
								</div>
								{{ form_rest(form) }}
							</div>
							<div class="px-4 py-3 text-right sm:px-6">
								<button type="submit" class="inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
									Suivant
								</button>
							</div>
							{{ form_end(form) }}
						</div>
					</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('js/autocomplete.js') }}"></script>
	<script async
			src="https://maps.googleapis.com/maps/api/js?key={{ google_key }}&libraries=places&callback=initAutocomplete">
	</script>
{% endblock %}