{% extends 'base.html.twig' %}

{% block title %}
	Module de réservation pour VTC - Devis
{% endblock %}

{% block body %}
<h1>Devis</h1>
	<h3>Origine</h3>
		<p>{{ quote.originAddress }}</p>
	<h3>Destination</h3>
		<p>{{ quote.destinationAddress }}</p>
	<h3>Devis</h3>
	<ul>
		<li>Distance : {{ quote.travelDistanceInKms }} km(s)</li>
		<li>Temps de trajet estimé : {{ quote.formattedTravelTimeInHours }}</li>
		<li><strong>Prix</strong> : {{ quote.price }} euros net TTC</li>
	</ul>
{% endblock %}

